

// 1.0 Custom Layout
// ---------------------------------------------

* {
	box-sizing:border-box;
}

body, * {margin:0; padding:0; font-family:$primaryfont;}
img, object, embed, video {
	max-width: 100%;
}
ul {
	list-style-type:none;
}
.cl {clear:both;}
	
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	max-width: 1366px;
	min-width: 320px;
}


header {
	min-height:107px;
	height:auto;
	background:$cyan;
	.logo {
		padding:40px 0 20px 22px;
		display:inline-block;
	}
	nav {
		float: right;
		margin:60px 0 0;
		width: auto;
		font-size:1em;
		@media screen and (max-width:600px) {
			width:100%;
		}
		li {
			list-style-type:none;
			display:inline;
			color:$white;
			font-weight:bold;
			padding:0 1.6em;
			@media screen and (max-width:600px) {
				display:block;
			}
			a {
				color:$white;
				text-decoration:none;
			}
		}
	}
	.social {
		padding:60px 22px 0;
		float:right;
		@media screen and (max-width:768px) {
			display:none;
		}
		li {
			display:inline;
			.facebook_icons {
				padding: 3px 9px;
				background:#5291bd;
			}
			.tweeter_icons {
				padding: 4px 7px;
				background:#53c1dd;
			}
			.rss_icons {
				padding: 3px 8px;
				background:#f6b14a;
			}
			.pinterest_icons {
				padding: 3px 6px;
				background:#d85557;
			}
			a {
				color:$white;
				border-radius: 15px;
			}
		}
	}
}

.banner {
	position:relative;
	width:100%;
	.logo_banner {
		position:absolute;
		bottom:-50px;
		text-align:center;
		width:100%;
	}
}

.conetnt_box {margin:6em 1em 0;}

.brand {
	margin:auto;
	text-align:center;
	h1 {
		color:$dark_gray;
	}
	span {
		
	}
}

.work_section {
	li {
		float: left;
		list-style-type: none;
		margin: 0.65em;
		width: 31.5%;
		position:relative;
		@media screen and (max-width:768px) {
			width: 100%;
			margin:.5em 0;
		}
		@media screen and (min-width:769px) and (max-width:980px) {
			width: 30.5%;
		}
		@media screen and (min-width:981px) and (max-width:1024px) {
			width: 31.2%;
		}
		a {
			overflow: hidden;
		}
		img {
			backface-visibility: hidden;
			position: relative;
			z-index: 2;
		}
		img + .hover_text {
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			transition-duration: 200ms;
			transition-property: opacity;
			transition-timing-function: linear;
			z-index: 10;
			height:100%;
			width:100%;
			vertical-align:middle;
			text-align:center;
			color:$white;
		}
		a:hover img + .hover_text {
			opacity: 0.99;
			background:rgba(52,209,198,.65);
			height:100%;
			vertical-align:middle;
			width:100%;
			color:$white;
		}
	}
}
.view_button {
	clear:both;
	margin: 0 auto;
    text-align: center;
	button {
		color:$dark_gray;
		border: medium none;
		font-size: 0.9em;
		font-style: italic;
		font-weight: 700;
		padding: 10px 30px;
		&:hover {
			color:$cyan;
		}
	}
}

.news_section {
	padding:50px 0;
	color:$cyan;
	h2 {
		margin: 0 auto;
		padding: 50px 0;
		text-align: center;
		width: 60%;
		border-top: 1px solid $dark_gray;
	}
	li {
		float: left;
		list-style-type: none;
		margin: 0.55em;
		width: 23.4%;
		position:relative;
		@media screen and (max-width:768px) {
			width: 100%;
			margin:.5em 0;
		}
		@media screen and (min-width:769px) and (max-width:980px) {
			width: 22.7%;
		}
		@media screen and (min-width:981px) and (max-width:1024px) {
			width: 22.5%;
		}
		.news_text {
			color:$cyan;
			font-weight:700;
		}
	}
}

footer {
	clear:both;
	margin:30px 0 0;
	padding:30px 20px 0;
	background:$cyan;
	min-height:300px;
	height:auto !important;
	max-height:600px;
	color:$white;
	.creative {
		width:30%;
		float:left;
		margin-right:20%;
		@media screen and (max-width:768px) {
			width: 100%;
			margin-right:0;
		}
		.creative_div1 {
			font-size:2em;
		}
		.creative_div2 {
			font-weight:700;
			padding-top:20px;
		}
	}
	.connect {
		width:23.5%;
		float:left;
		margin-right:1%;
		@media screen and (max-width:768px) {
			width: 100%;
			margin-right:0;
		}
		.connect_div1 {
			font-size:1.5em;
			line-height:1.4em;
		}
		.connect_div2 {
			font-weight:700;
			padding-top:20px;
		}
		.connect_div4 {
			.social {
				padding:25px 0;
				float:left;
				li {
					display:inline;
					background:$white;
					border-radius: 20px;
					padding:5px;
					font-size: 1.5em;
					.facebook_icons {
						padding: 0px 10px;
					}
					.tweeter_icons {
						padding: 0 4px;
					}
					.rss_icons {
						padding: 0px 5px;
					}
					.pinterest_icons {
						padding: 0px 5px;
					}
					a {
						color:$cyan;
					}
				}
			}
		}
	}
	.project_planner {
		width:23.5%;
		float:right;
		margin-right:1%;
		@media screen and (max-width:768px) {
			width: 100%;
			margin-right:0;
			float:left;
		}
		.project_planner_div1 {
			font-size:1.5em;
			line-height:1.4em;
		}
		.project_planner_div2 {
			font-weight:400;
			padding-top:20px;
		}
		.project_planner_div3 {
			font-weight:400;
			padding-top:20px;
			a {
				background:$white;
				text-align: center;
				padding:10px 20px;
				color:$cyan;
				&:hover {
					color:$dark_gray;
					text-decoration:none;
				}
			}
		}
	}
}